@import url('/fonts/fonts.css');

.intercom-lightweight-app,
#intercom-container {
  position: relative;
  z-index: 998 !important;
}

div[data-testid='profile-title'] {
  color: #f2f2f2;
}

div[data-testid='dropdown-menu'] button:hover:not(:last-child),
div[data-testid='dropdown-menu'] button:hover svg,
div[data-testid='dropdown-menu'] a:hover svg,
div[data-testid='dropdown-menu'] a:hover {
  color: #000 !important;
}

div[data-testid='select-container'] button:hover,
div[data-testid='select-container'] button:hover svg,
div[data-testid='select-container'] a:hover svg,
div[data-testid='select-container'] a:hover {
  color: #000 !important;
}

div[id='LegacyDropdown'] button:hover {
  color: #000 !important;
}

div[id^='popoverContainer'] a:hover * {
  color: #000 !important;
}

div[id='ProfileDetails'] a:hover,
div[id='ProfileDetails'] button:hover {
  background: #f2f2f2 !important;
}

label[id='permissions-label'] * {
  color: #f2f2f2 !important;
}

/* .modal div:last-child form > div:first-child * */
.modal div:last-child form > div > div:first-child,
.modal div:last-child:not(form) > div > div {
  color: #f2f2f2;
}

#record-item:hover {
  background: #f2f2f2;
}
